<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Hasil </title>
    </head>
    <body>
<!-- jumbotron -->
        
<div class="jumbotron text-center"  style="padding-top: 3rem; background-color: #f1905f; padding-bottom: 2rem;">
    

    <div class="container" data-aos="zoom-in" data-aos-delay="50" data-aos-duration="2000">
        <h1 class="display-4 fw-bold font-sans-serif" style="color: white;" >FOOOD RECOGNITION</h1>
        <p class="font-sans-serif" style="color: white;" >This is a our food Recognition.</p>
        
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f1905f" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,101.3C274.3,107,343,181,411,192C480,203,549,149,617,149.3C685.7,149,754,203,823,197.3C891.4,192,960,128,1029,96C1097.1,64,1166,64,1234,69.3C1302.9,75,1371,85,1406,90.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>
            
            
<!-- akhir jumbotron -->

<!-- card -->
            <form action="http://127.0.0.1:8000/" method="GET" enctype="multipart/form-data">
                <div class="row justify-content-center" style="margin-left: 7rem; margin-right : 5rem;">
                    
                        <div class="container" >
                            <h1 class="display-4 fw-bold font-sans-serif" style="color: #f1905f;">Semua Data Hasil Upload</h1>
                            <table class="table table-striped table-warning">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">File</th>
                                        <th scope="col">Hasil Nama</th>
                                        <th scope="col">Score</th>
                                        <th scope="col">Prediksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in computers %}
                                    <tr>
                                        <th scope="row">{{row.0}}</th>
                                        
                                        <td>{{row.1}}</td>
                                        <td>{{row.2}}</td>
                                        <td>{{row.3}}</td>
                                        <td>{{row.4}}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    
                    

    
                    <div class="text-end"><input type="submit" class="btn btn-light" value="Back"  style="padding-inline: 2rem; margin-top: 2rem; margin-right: 11rem; color:#f1905f ; font-size: 13pt; font-weight: bold;"></input>
                    </div>
            </form>
<!-- akhir card -->
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </body>
</html>



